In [3]:
my_str='Shre123'
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

In [4]:
str_example='Hello World'
my_str='Krish'
my_str.isalpha() or str_example.isnum()

True

In [ ]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]
print(len(lst))
print(type(lst))
lst.append(["John","Bala"])
lst

6
<class 'list'>
None

In [13]:
lst.insert(2,"Shre")
lst

['Mathematics',
 'chemistry',
 'Shre',
 'Naik',
 'Naik',
 100,
 200,
 300,
 204,
 ['John', 'Bala']]

In [17]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [18]:
lst.pop()
lst

[1, 2, 3, 4, 5, 6, 8]

In [20]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)
set_var.add("Hulk")
set_var

{'Avengers', 'IronMan', 'Hitman'}

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [22]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [24]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.difference_update(set1)
print(set2)

{'Hulk2'}

In [27]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercedes Benz"}
for x in my_dict:
    print(x)
for x in my_dict.values():
    print(x)
for x in my_dict.items():
    print(x)

Car1
Car2
Car3
Audi
BMW
Mercedes Benz
('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [28]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [29]:
my_tuple=('Hello','World')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')